{% extends 'base.html' %}

{% block css %}
{{ block.super }}
<!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/"/>-->
{% endblock css %}

{% block title %}Page Title{%endblock%}

{% block javascript %}
{{ block.super }}
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>-->
{% endblock javascript %}

{% block analytics %}
{{ block.super }}
{% endblock %}


{% block body %}
homepage <BR />
{% if user.is_authenticated %}
Logged in with foursquare id:
{{ user.get_profile.foursquare_id }}
Access token: {{ user.get_profile.foursquare_access_token }}
{% else %}
Logged out
{% endif %}

{% endblock body %}
